.primary-container{
    background-color: #fff;
}   
.primary-container-active{
    transition: background-color 0.5s ease;
    background-color: #12232e;
    color:#fff;
    
}

.cardBorder{
    border: white;
    transition: background-color 0.5s ease;
    background-color: #12232e;
    color:#fff;
}

.noBorder{
    border: none;
}

.primary-heading-content{
    text-align: center;
    color: white;
}

.primary-heading-content-active{
    text-align: center;
    color: #12232e;
}