.primary-container{
    background-color: #fff;
    text-decoration: none;
}   
.primary-container-active{
    transition: background-color 0.5s ease;
    background-color: #12232e;
    text-decoration: none;
    color:#fff;
}

.primary-container1{
    background-color: #fff;
    color:black;
    text-decoration: none;
}   

.primary-container-active1{
    transition: background-color 0.5s ease;
    background-color: #12232e;
    text-decoration: none;
    color:#fff;
}

.primary-container1:hover{
    color:black;
    border-bottom: 2px solid black;
    text-decoration: none;
}   


.primary-container-active1:hover {
    color: #fff;
    border-radius: 0;
    text-decoration: none;
    border-bottom: 2px solid #fff;
  }

